#maindiv{
    width: 400px;
    height: 400px;
    background-color: lime;
    display: flex;
    flex-flow: row wrap;
    border: 3px solid black;
    margin: 20px;
}
#maindiv1{
    width: 400px;
    height: 400px;
    background-color: lime;
    display: flex;
    flex-flow: column wrap;
    border: 3px solid black;
    margin: 20px;
}
    
    
.head{
    display: flex;
    flex-flow: row wrap;
  
}
.innerdiv{
    width: 50px;
    height: 50px;
    background-color: crimson;
    color: white;
    border: 3px solid black;
   

}
#div3{
    width: 400px;
    height: 400px;
    background-color: lime;
    display: flex;
    flex-flow: row wrap;
    border: 3px solid black;
    margin: 20px;
}

